#scene {
    width: 100%;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.4);

    .container {
        display: flex;
        flex-flow: nowrap row;
        overflow: visible;

        .classify {
            position: relative;
            width: 200px;
            height: 44px;
            background-color: #000;
            line-height: 44px;

            >span {
                color: #fff;
                font-size: 16px;
            }

            .classify-detail {
                position: absolute;
                top: 44px;
                left: 0px;
                z-index: 100;
                width: 200px;
                height: 400px;
                background-color: #fffbf2;

                // transform: translateX(-50%);
                .menu-item {
                    position: relative;
                    float: none;
                    color: #fff;
                    height: 80px;
                    box-sizing: border-box;
                    padding: 6px 0 0 52px;
                    text-align: left;
                    // margin: 0 10px;
                    border-bottom: 1px solid #ddd;

                    &:hover {
                        background-color: #fff;

                        p {
                            color: #00c65d;
                        }
                    }


                    i {
                        position: absolute;
                        left: 16px;
                        top: 30px;
                        width: 26px;
                        height: 26px;
                        background: url('/home/fresh_icons.png');
                        background-size: 82px 54px;
                        background-repeat: no-repeat;
                    }

                    .item_icon1 {
                        background-position: 0 0;

                    }

                    .item_icon2 {
                        background-position: -28px 0;
                    }

                    .item_icon3 {
                        background-position: 0 -28px;
                    }

                    .item_icon4 {
                        background-position: -28px -28px;
                    }

                    .item_icon5 {
                        background-position: -56px 0;
                    }

                    p {
                        position: relative;
                        text-decoration: none;
                        color: #222;
                        font-weight: 700;

                        &::after {
                            content: ">";
                            position: absolute;
                            left: 120px;
                            top: 13px;
                            height: 19px;
                            line-height: 19px;
                            font-family: simsun;
                        }
                    }

                    .branch {
                        line-height: 0px;

                        >span {
                            padding: 0 5px;
                            border-right: 1px solid #ccc;
                            color: #999;
                            font-size: 12px;
                            &:hover{
                                color: #00c65d;
                            }
                        }

                        >span:nth-child(1) {
                            padding-left: 0;
                        }

                        >span:nth-child(3) {
                            border-right: none;
                        }
                    }

                    .bian {
                        display: none;
                        position: absolute;
                        right: -1px;
                        top: 0;
                        z-index: 5;
                        width: 2px;
                        height: 78px;
                        background-color: #fff;
                    }

                    &:hover .bian {
                        display: block;
                    }

                    .menu-detail {
                        position: absolute;
                        left: 200px;
                        // top: 0;
                        width: 1000px;
                        height: 400px;
                        text-align: left;
                        border: 1px solid #ddd;
                        box-sizing: border-box;
                        line-height: 22px;
                        padding: 20px 100px 10px 40px;
                        background-color: #fff;
                        span {
                            font-size: 13px;
                            color: #666;
                        }
                        .menu-box {
                            margin-bottom: 6px;

                            span {
                                border-right: 1px solid #e0e0e0;
                                margin: 4px 0;
                                padding: 0 10px;

                                &:nth-child(1) {
                                    font-weight: 700;
                                    display: inline-block;
                                    padding-left: 0;

                                }

                                &:hover {
                                    color: #00c65d;
                                }

                            }
                        }


                    }

                }

            }
        }

        .scene-detail {
            flex: 1;
            text-align: left;

            .router-link-active {
                color: #00c65d;
            }

            // background-color: palevioletred;

            a {
                // margin-left: 20px;
                padding: 0 30px;
                border-right: 3px solid #000;
                line-height: 44px;
                text-decoration: none;
                color: #000;
                font-size: 16px;
                text-align: left;

                &:hover {
                    color: #00c65d;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        .pinzhi {
            width: 200px;
            height: 44px;
            line-height: 44px;

            i {
                color: #00b277;
                margin-right: 10px;
            }

            span {
                color: #00b277;
            }
        }
    }

}